body {
  margin: 0;
  scroll-behavior: smooth;
}

.background {
  background: linear-gradient(
      rgba(233, 130, 131, 0.9),
      rgba(237, 215, 137, 0.9)
    ),
    url(/css/background.png);
  background-size: cover;
}

header {
  height: 100px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.icon {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline;
  width: 114px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 16.44px;
  text-align: center;
  margin-left: 35px;
}

.nav-item:hover {
  color: #f4bf87;
  border-bottom: 1px solid #f4bf87;
  cursor: pointer;
}

.burger-menu{
  display: none;
}

.banner-subtitle {
  height: 80px;
  color: #ffffff;
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 92.86px;
}

.banner-title {
  height: 370px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 144px;
  line-height: 175.54px;
  margin-top: 0;
  margin-bottom: 44px;
}

.banner-line__container {
  display: flex;
  justify-content: center;
}

.banner-line {
  width: 170px;
  border: 2px solid #ffffff;
}

.banner-btn__container {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.banner-btn {
  width: 370px;
  height: 80px;
  background: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 28.18px;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.banner-btn:hover {
  border-color: #e4be8d;
  color: #e4be8d;
}

.banner-menu {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.banner-menu__numbers {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42.26px;
  color: #f9efcf;
}

.banner-menu__item {
  width: 270px;
  height: 85px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #f9efcf;
  margin-right: 30px;
  border-top: 2px solid #f9efcf;
}

.banner-menu__item:last-child {
  margin-right: 0;
}

.about-us__subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.about-us__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.about-us__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us__line {
  width: 170px;
  border: 2px solid #f38281;
}

.about-us__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.about-us__img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 106px;
}

.about-us__square {
  width: 370px;
  height: 338px;
  background-color: #95e1d3;
  position: relative;
}

.square__super-team {
  width: 370px;
  height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: linear-gradient(
    rgba(233, 130, 131, 0.9),
    rgba(237, 215, 137, 0.9)
  );
  bottom: 16px;
  right: 16px;
}

.super-team__text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 28.18px;
}

.super-team_img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.super-team__background{
  width: 370px;
  height: 338px;
  background: #95E1D3;
}

.futures {
  height: 250px;
  background: #95e1d3;
}

.futures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.futures-item {
  width: 234px;
  height: 250px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.futures-num {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 75.14px;
  text-align: center;
  margin-bottom: 0;
}

.futures-text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: white;
  line-height: 28.18px;
  text-align: center;
}

.services-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.services-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.services-table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin-top: 80px;
}

.second-line {
  margin-top: 140px;
  margin-bottom: 91px;
}

.services-table__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 139px;
  margin-left: 30px;
}

.services-table__item img {
  align-self: flex-start;
  margin-right: 30px;
}

.seo-icon {
  margin-left: 0;
}

.services-table__item:first-child {
  margin-left: 0;
}

.services-item__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
}

.services-item__text {
  width: 270px;
  height: 80px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.devices {
  width: 100%;
  height: 870px;
  background: url(/css/device-background.png);
  background-size: cover;
}

.devices-subtitle {
  height: 80px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
  margin: 0;
}

.devices-title {
  height: 81px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
  margin-bottom: 0;
}

.devices-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.devices-line {
  width: 170px;
  border: 2px solid #f38281;
}

.devices-img__container {
  margin-top: 59px;
}

.devices-img__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 59px;
}

.devices-img {
  position: absolute;
}

.devices-tablet {
  padding-bottom: 57px;
}

.devices-phone {
  top: 212px;
  left: 770px;
}

.products{
    padding-bottom: 114px;
}

.products-subtitle {
  height: 80px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
  margin: 0;
}

.products-title {
  height: 81px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
  margin: 0;
}

.products-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products-line {
  width: 170px;
  border: 2px solid #f38281;
}

.products-text__container{
  height: 118px;
  display: flex;
  align-items: center;
  margin: 0px 0px 42px 0px;
}

.products-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.products-option {
  display: flex;
  justify-content: space-between;
}

.products-cards__container {
  margin-left: 30px;
}

.products-cards {
  width: 570px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #c6cbcd;
  margin-bottom: 22px;
}

.products-cards:last-child {
  margin-bottom: 0;
}

.products-cards:first-child {
  margin-bottom: 0;
}

.products-cards__title-container{
  width: 370px;
  height: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.products-cards__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
}

.products-cards__text-container {
  border: 2px solid #c6cbcd;
  border-top: 0;
  margin-bottom: 22px;
  overflow-y: scroll;
}

.products-cards__text-container::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  margin-right: 24px;
}

.products-cards__text-container::-webkit-scrollbar-thumb {
  color: #95e1d3;
}

.products-cards__text {
  width: 463px;
  margin: 14px 0px 14px 22px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.products-cards__img {
  margin-left: 18px;
}

.products-cards__btn button {
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}

.carousel{
    background-color: #F8F8F8;
}

.carousel-container{
    height: 254px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__left-btn{
    width: 42px;
    height: 42px;
    margin-right: 40px;
}

.carousel__right-btn{
    width: 42px;
    height: 42px;
    margin-left: 40px;
}

.carousel__left-btn button{
    border: 0px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.carousel__right-btn button{
    border: 0px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.carousel__text-container{
    margin-left: 30px;
}

.carousel-text{
    width: 770px;
    height: 96px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 28.18px;
    color: #A9AFB1;
    margin-bottom: 0;
}

.carousel-author__container{
  display: flex;
  align-items: center;
}

.carousel-line{
    width: 70px;
    border: 2px solid #F38281;
    display: block;
}

.carousel-author{
    font-family: "Kaushan Script", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 43.53px;
    color: #000000;
    margin-left: 56px;
}

.team-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.team-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.team__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.team-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.team__img-container{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.team-square__container{
  position: relative;
}

.team-square__social-media{
  width: 370px;
  height: 424px;
  background: linear-gradient( rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.social-media__container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 207px;
}

.social-media__container img{
  margin-left: 1px;
}

.team-employee{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700px;
  line-height: 28.18px;
  text-align: center;
}

.team-employee__profession{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.13px;
  text-align: center;
}

.partners{
  height: 211px;
  background-color: #F8F8F8;
  margin-top: 84px;
}

.partners-container{
  display: flex;
  justify-content: space-around;
}

.partners-img{
  width: 127.12px;
  height: 127.12px;
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.works-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.works-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.works__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.works-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.works__img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin-top: 50px;
  margin-bottom: 84px;
}

.comments{
    margin-bottom: 84px;
}

.comments-container{
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments__left-btn{
  width: 42px;
  height: 42px;
  margin-right: 40px;
}

.comments__right-btn{
  width: 42px;
  height: 42px;
  margin-left: 40px;
}

.comments__left-btn button{
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}

.comments__right-btn button{
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}

.comments__text-container{
  margin-left: 30px;
}

.comments-text{
  width: 770px;
  height: 96px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 28.18px;
  color: #A9AFB1;
  margin-bottom: 0;
}

.comments-author__container{
  display: flex;
  align-items: center;
}

.comments-line{
  width: 70px;
  border: 2px solid #F38281;
}

.comments-author{
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.53px;
  color: #000000;
  margin-left: 56px;
}

.clients{
    height: 923px;
    background: url(/css/clients-background.png);
    background-size: cover;
}

.clients-subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-size: 30px;
    line-height: 43.53px;
    text-align: center;
    padding-top: 42px;
}
  
.clients-title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.26px;
    text-align: center;
}
  
.clients__line-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.clients-line {
    width: 170px;
    border: 2px solid #f38281;
    margin-top: 24px;
}

.clients__review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.clients-review{
    min-width: 550px;
    height: 285px;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-review img{
    margin-bottom: 135px;
}

.clients-review:nth-child(odd){
    margin-right: 50px;
}

.clients-text{
    width: 369px;
    height: 150px;
    margin-top: 32px;
    font-family: "Raleway", sans-serif;
    color:#2D3033;   
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.clients-name{
    font-family: "Raleway", sans-serif;
    color:#2D3033;   
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
}

.clinets-job{
    font-family: "Raleway", sans-serif;
    color:#2D3033;   
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.clients__review-line{
    display: block;
    border: 2px solid #F38281;
    width: 70px;
}

.stories__title-container{
  text-align: center;
}

.stories-subtitle{
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.53px;
  margin-top: 84px;
}

.stories-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
}

.stories-line__container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.stories-line {
  width: 170px;
  border: 2px solid #f38281;
  display: block;
}

.stories__card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 84px;
}

.stories-card{
  width: 33%;
  height: 498px;
}

.stories__img-container{
  width: 385px;
  height: 253px;
  margin-bottom: 30px;
}

.stories__img-date{
  width: 80px;
  height: 80px;
  background: #95E1D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-15px, -110px);
}

.stories-date{
  font-family: "Raleway", sans-serif;
  color: #ffffff;   
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.stories-month{
  font-family: "Raleway", sans-serif;
  color: #ffffff;   
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
}

.stories__text-title{
  width: 370px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  color:#2D3033;   
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  margin-bottom: 0;
}

.stories-text{
  width: 370px;
  height: 120px;
  font-family: "Raleway", sans-serif;
  color:#2D3033;   
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-top: 0;
  margin-bottom: 22px;
}

.stories__visit-container{
  display: flex;
}

.stories__views-container{
  display: flex;
  align-items: center;
}

.stories__comments-container{
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.stories__views-num{
  font-family: "Raleway", sans-serif;
  color:#2D3033;   
  font-size: 13px;
  font-weight: 400;
  line-height: 15.26px;
  margin-left: 20px;
}

.map{
  height: 231px;
  background: url(/css/map-background.png);
  background-size: cover;
}

.map-title{
  font-family: "Raleway", sans-serif;
  color: #F38281;   
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
}

.map-container{
  height: 231px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-line {
  width: 170px;
  border: 2px solid #f38281;
  display: block;
}

.last-section{
  background: #F8F8F8;
}

.last-container{
  display: flex;
  justify-content: space-between;
}

.mogo-title{
  width: 270px;
  height: 100px;
  font-family: "Raleway", sans-serif;
  color: #C6CBCD;   
  font-size: 40px;
  font-weight: 900;
  line-height: 42.26px;
  margin-top: 42px;
  margin-bottom: 0;
}

.mogo-text{
  width: 370px;
  height: 140px;
  font-family: "Raleway", sans-serif;
  color: #C6CBCD;   
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-top: 0;
}

.mogo__num-followers{
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
}

.mogo-followers{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  color: #2D3033;   
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.mogo__social-media{
  width: 370px;
  margin-top: 15px;
  border-top: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mogo__follow-us{
  font-family: "Raleway", sans-serif;
  font-style: italic;
  color: #2D3033;   
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.social-media__item{
  margin-right: 10px;
}

.social-media__item:last-child{
  margin-right: 0;
}

.mogo-form{
  display: flex;
  align-items: center;
  margin-top: 46px;
}

.mogo-inp{
  width: 234px;
  height: 55px;
  border: 1px solid #C6CBCD;
}

.mogo-inp::placeholder{
  font-family: "Raleway", sans-serif;
  color: #C6CBCD;   
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
}

.mogo-btn{
  width: 134px;
  height: 59px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;   
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  background-color: #95E1D3;
  border: 1px solid #95E1D3;
}

.blogs-item{
  margin-bottom: 20px;
}

.blogs-item:last-child{
  margin-bottom: 0;
}

.blogs-container{
  margin-top: 42px;
}

.blogs-title{
  height: 100px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  margin-top: 0;
  margin-bottom: 0;
}

.blogs__text-container{
  margin-left: 30px;
}

.blogs-text{
  width: 270px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  margin-top: 0;
}

.blogs-date{
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 13px;
  font-weight: 400;
  line-height: 15.26px;
}

.blogs-item{
  display: flex;
}

.inst-container{
  margin-top: 42px;
}

.inst-title{
  height: 100px;
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  margin-top: 0;
  margin-bottom: 0;
}

.inst-footer{
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 13px;
  font-weight: 400;
  line-height: 15.26px;
  text-decoration: underline;
  margin-top: 39px;
}

.footer{
  background: #F8F8F8;
  padding-top: 42px;
}

.footer-container{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #C6CBCD;
}

.footer-text{
  font-family: "Raleway", sans-serif;
  color: #2D3033;   
  font-size: 13px;
  font-weight: 700;
  line-height: 15.26px;
}

@media screen and (width < 1025px) {
  .wrapper{
    max-width: 998px;
    margin: 0 auto;
  }

  header{
    height: 68px;
  }

  .background{
    height: 695px;
  }

  .banner-subtitle {
    height: 54px;
    font-weight: 400;
    font-size: 48px;
    line-height: 69.86px;
    margin-top: 52px;
    margin-bottom: 0;
  }

  .banner-title__container{
    height: 250px;
    display: flex;
    align-items: center;
  }

  .banner-title {
    height: 250px;
    font-size: 96px;
    font-weight: 700;
    line-height: 117.54px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .banner-line__container{
    margin-top: 30px;
  }

  .banner-line{
    width: 115px;
  }

  .banner-btn__container{
    margin-top: 48px;
  }

  .banner-btn{
    width: 318px;
    height: 54px;
    border: 4px solid  #ffffff;
  }

  .banner-menu{
    margin-top: 78px;
  }

  .banner-menu__item{
    height: 58px;
    font-size: 14px;
  }

  .banner-menu__numbers{
    font-size: 24px;
  }

  .about-us__subtitle {
    font-size: 24px;
    line-height: 34.82px;
  }
  
  .about-us__title {
    font-size: 24px;
    line-height: 28.18px;
  }

  .about-us__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
  }

  .about-us__img-container{
    margin-top: 49px;
    margin-bottom: 58px;
    padding-bottom: 0;
  }

  .about-us__img img{
    width: 320px;
    height: 282px;
  }

  .about-us__square{
    width: 320px;
    height: 282px;
  }

  .square__super-team{
    width: 320px;
    height: 282px;
    bottom: 7px;
    right: 6px;
  }

  .super-team__text{
    font-size: 18px;
  }

  .super-team__background{
    width: 320px;
    height: 282px;
  }

  .futures{
    height: 168px;
  }

  .futures-item{
    width: 198px;
    height: 168px;
  }

  .futures-num{
    font-size: 48px;
    line-height: 56.35px;
  }

  .futures-text{
    font-size: 20px;
    margin-top: 10px;
  }

  .services-subtitle{
    font-size: 24px;
    line-height: 34.82px;
  }

  .services-title{
    font-size: 24px;
    line-height: 28.82px;
  }

  .services-table__item{
    width: 313px;
    height: 117px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .services-table__item img{
    width: 59px;
    height: 59px;
    margin-right: 0
  }

  .services-table__item:last-child{
    margin-right: 0;
  }

  .services-item__title{
    font-size: 18px;
    line-height: 21.44px;
  }

  .services-item__text{
    width: 228px;
    height: 67px;
    font-size: 14px;
    line-height: 16.44px;
  }

  .second-line{
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .devices{
    height: 588px;
  }

  .devices-img__wrapper{
    margin-top: 39px;
  }

  .devices-subtitle{
    height: 54px;
    font-size: 24px;
    line-height: 34.82px;
    padding-top: 28px;
  }

  .devices-title{
    height: 54px;
    font-size: 24px;
    line-height: 28.82px;
  }

  .devices-tablet{
    height: 356px;
  }

  .devices-phone{
    height: 279px;
    width: 135px;
    top: 143.25px;
    left: 620px;
  }

  .products{
    padding-bottom: 84px;
  }

  .products-subtitle {
    height: 68px;
    font-size: 24px;
    line-height: 34.53px;
    padding-top: 58px;
  }
  
  .products-title {
    height: 68px;
    font-size: 24px;
    line-height: 28.18px;
    margin: 0;
  }

  .products-text{
    font-size: 14px;
    line-height: 16.44px;
  }

  .products-cards__container{
    margin-left: 25px;
  }

  .products-cards__text-container{
    width: 486px;
    height: 110px;
    margin-bottom: 0;
    overflow-x: hidden;
  }

  .products-cards__text{
    font-size: 14px;
    line-height: 16.44px;
  }

  .products-option__img img{
    width: 486px;
    height: 409px;
  }

  .products-cards__open{
    width: 486px;
    height: 216px;
  }

  .products-cards{
    width: 486px;
    height: 78px;
  }

  .products-cards__title-container{
    width: 315px;
    height: 78px;
  }

  .products-cards__title{
    font-size: 18px;
    line-height: 21.13px;
  }

  .carousel-container{
    height: 172px;
  }

  .carousel__img-container img{
    width: 115px;
    height: 115px;
  }

  .carousel-text{
    width:  655px;
    height: 66px;
    font-size: 18px;
    line-height: 21.13px;
    margin-top: 0px;
  }

  .carousel-author__container{
    width: 570px;
    height: 36px;
    margin-top: 14px;
  }

  .carousel-author{
    font-size: 24px;
    line-height: 34px;
    margin-left: 37px;
  }

  .team-subtitle {
    font-size: 24px;
    line-height: 34.53px;
    padding-top: 0px;
    margin-top: 52px;
  }
  
  .team-title {
    font-size: 24px;
    line-height: 28.26px;
  }

  .team-text{
    font-size: 14px;
    line-height: 16.44px;
  }

  .team__img{
    width: 316px;
    height: 427px;
  }

  .team__img img{
    width: 316px;
    height: 359px;
  }

  .team-square__social-media{
    width: 316px;
    height: 359px;
    bottom: 7px;
    right: 6px;
  }

  .social-media__container img{
    width: 35px;
    height: 35px;
  }

  .kadin{
    width: 316px;
    height: 359px;
  }

  .team-employee{
    font-size: 18px;
    line-height: 21.13px;
  }

  .team-employee__profession{
    font-size: 14px;
    line-height: 16.44px;
  }

  .partners{
    margin-top: 58px;
    height: 143px;
  }

  .partners-container{
    height: 143px;
    width: 991px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .partners-img{
    margin-top: 0;
    width: 86px;
    height: 86px;
  }

  .partners-img img{
    width: 86px;
    height: 86px;
  }

  .works-subtitle {
    font-size: 24px;
    line-height: 34.53px;
    margin-top: 57px;
  }
  
  .works-title {
    font-size: 24px;
    line-height: 28.26px;
  }
  
  .works-text {
    font-size: 14px;
    line-height: 16.4px;
    margin-top: 40px;
  }

  .works__img-container{
    margin-bottom: 58px;
  }

  .comments{
    margin-bottom: 58px;
  }

.comments-container{
  height: 172px;
}

.comments__left-btn{
  width: 28px;
  height: 28px;
  margin-right: 0;
}

.comments__right-btn{
  width: 28px;
  height: 28px;
  margin-left: 0;
  margin-right: 32px;
}

.comments__img-container img{
  width: 115px;
  height: 115px;
}

.comments__text-container{
  margin-left: 0px;
}

.comments-text{
  width: 655px;
  height: 66px;
  font-size: 18px;
  line-height: 21.18px;
  margin-bottom: 0;
}

.comments-author{
  font-size: 24px;
  line-height: 34.8px;
  margin-left: 37px;
}

.clients{
  height: 626px;
}

.clients-subtitle {
  font-size: 24px;
  line-height: 34px;
  padding-top: 28px;
}

.clients-title {
  font-size: 24px;
  line-height: 28px;
}

.clients-review{
  height: 194px;
  min-width: 0px;
}

.clients-review img{
  width: 88px;
  height: 88px;
}

.clients-text__conatiner{
  margin-left: 49px;
}

.clients-name{
  font-size: 18px;
  line-height: 21.13px;
  margin-bottom: 0;
}

.clinets-job{
  font-size: 14px;
  line-height: 16.4px;
  margin-top: 0;
  margin-bottom: 21px;
}

.clients-text{
  width: 316px;
  font-size: 14px;
  line-height: 16.5px;
  margin-top: 21px;
  margin-bottom: 0;
}

.stories-subtitle {
  font-size: 24px;
  line-height: 34px;
  margin-top: 58px;
}

.stories-title {
  font-size: 24px;
  line-height: 28px;
}

.stories__card-container{
  margin-bottom: 58px;
}

.stories__img-container{
  margin-bottom: 0;
}

.stories__img-container img{
  width: 316px;
  height: 214px;
}

.stories__img-date{
  width: 67.8px;
  height: 67.8px;
}

.stories-date{
  font-size: 24px;
  line-height: 20px;
}

.stories-month{
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
}

.stories__text-title{
  font-size: 18px;
  line-height: 21.13px;
  margin-top: 0;
}

.stories-text{
  width: 317px;
  font-size: 14px;
  line-height: 16.4px;
  margin-bottom: 0;
}

.map{
  height: 157px;
}

.map-container{
  height: 157px;
}

.map-title{
  font-size: 24px;
  line-height: 28.18px;
}

.mogo-title{
  font-size: 30px;
  height: 70px;
}

.mogo-text{
  height: 100px;
  width: 317px;
  font-size: 14px;
  line-height: 16.44px;
  margin-bottom: 0;
}

.mogo__num-followers{
  font-size: 24px;
  line-height: 30px;
}

.mogo-form{
  margin-top: 31px;
  width: 317px;
}

.mogo__follow-us{
  font-size: 12px;
  line-height: 14px;
}

.mogo__social-media{
  width: 317px;
}

.social-media__item{
  width: 16.24px;
  height: 16.24px;
}

.mogo-inp{
  height: 33px;
}

.mogo-inp::placeholder{
  font-size: 14px;
  line-height: 16.4px;
}

.mogo-btn{
  height: 37px;
  font-size: 14px;
  line-height: 16.4px;
}

.blogs-title{
  font-size: 18px;
  line-height: 21.13px;
  height: 70px;
}

.blogs-item{
  margin-bottom: 13.54px;
}

.blogs-img img{
  width: 115px;
  height: 71px;
}

.blogs-text{
  font-size: 14px;
  line-height: 16.4px;
  width: 267px;
}

.inst-title{
  height: 70px;
  font-size: 18px;
  line-height: 21.13px;
}

.inst-col img{
  width: 78px;
  height: 76px;
}

.inst-footer{
  margin-top: 0;
  font-size: 12px;
  line-height: 14px;
}

}

@media screen and (width < 321px){
  .wrapper{
    max-width: 288px;
    margin: 0 auto;
  }
  
  .nav{
    display: none;
  }

  .background{
    height: 574px;
  }

  .header{
    height: 56px;
  }

  .burger-menu{
    display: flex;
    flex-direction: column;
    width: 58px;
    height: 18px;
    margin-bottom: 10px;
  }
  
  .burger-item{
    border: 2px solid #fff;
    margin: 3px;
    width: 24px;
  }

  .banner-subtitle {
    font-size: 36px;
    line-height: 52.24px;
    margin-top: 52px;
    margin-bottom: 0;
  }

  .banner-title__container{
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: 70px;
  }

  .banner-title {
    font-size: 48px;
    line-height: 58.54px;
    text-align: center;
  }

  .banner-line__container{
    margin-top: 0px;
  }

  .banner-btn{
    font-size: 18px;
    line-height: 21px;
  }

  .banner-menu{
    margin-top: 53px;
  }

  .banner-menu__item{
    border-top: 4px solid;
  }

  .banner-menu__item:first-child{
    border-top: 4px solid #F38281;
  }
  
  .banner-menu__numbers{
    display: none;
  }

  .banner-menu__text{
    display: none;
  }

  .about-us__subtitle{
    font-size: 24px;
    line-height: 34px;
  }

  .about-us__square{
    margin-bottom: 16px;
    height: 258px;
  }

  .square__super-team{
    width: 288px;
    height: 258px;
    bottom: 6px;
    right: 6px;
  }

  .super-team__background{
    width: 288px;
    height: 258px;
  }

  .about-us__img img{
    width: 288px;
    height: 258px;
    margin-bottom: 16px;
  }

  .futures{
    height: 374px;
  }

  .futures-item{
    width: 144px;
    height: 124px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
  }

  .futures-num{
    margin-top: 0px;
  }

  .services-table__item{
    margin-bottom: 36px;
  }

  .second-line{
    margin-top: 0;
    margin-bottom: 36px;
  }

  .services-table__item-text{
    margin-left: 20px;
  }

  .devices{
    height: 500px;
  }

  .devices-subtitle{
    padding-top: 42px;
  }

  .devices-title{
    font-size: 36px;
  }

  .devices-line__container{
    margin-top: 25px;
  }

  .devices-tablet{
    width: 286px;
    height: 219px;
    padding-bottom: 25px;
  }

  .devices-phone{
    width: 85px;
    height: 175px;
    left: 180px;
    top: 100px;
  }

  .products{
    padding-bottom: 31px;
  }

  .products-text__container{
    margin-bottom: 29px;
  }

  .products-text{
    margin-top: 20px;
  }

  .products-option{
    display: flex;
    flex-direction: column;
  }

  .products-cards__container{
    margin-left: 0px;
  }

  .products-cards__title-container{
    justify-content: center;
  }

  .products-cards__open{
    width: 288px;
  }

  .products-cards__text-container{
    width: 288px;
  }

  .products-cards__text{
    width: 190px;
    margin-top: 0px;
    font-size: 13px;
  }

  .products-option__img img{
    width: 288px;
    height: 142px;
    background-size: cover;
    margin-bottom: 29px;
  }

  .products-cards{
    width: 288px;
    height: 78px;
  }

  .carousel{
    height: 238px;
  }

  .carousel__img-container{
    display: none;
  }

  .carousel__left-btn{
    display: none;
  }

  .carousel__right-btn{
    display: none;
  }

  .carousel__text-container{
    width: 288px;
    height: 92px;
    margin-left: 0;
  }

  .carousel-text{
    width: 288px;
    height: 92px;
    font-size: 14px;
    line-height: 16px;
  }

  .carousel-author__container{
    margin-top: 0;
  }

  .carousel-author{
    font-size: 18px;
  }

  .carousel-circle__container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .carousel-circle{
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    border: 1px solid #C6CBCD;
    margin-right: 20px;
  }

  .carousel-circle:last-child{
    margin-right: 0;
  }

  .carousel-circle:nth-child(2){
    background: #C6CBCD;
  }

  .team__img-container{
    height: 990px;
    flex-direction: column;
    justify-content: space-around;
  }

  .team-square__social-media{
    display: none;
  }

  .kadin{
    width: 288px;
    height: 236px;
  }

  .team__img{
    width: 288px;
    height: 236px;
    margin-bottom: 29px;
  }

  .team__img:last-child{
    margin-top: 50px;
    margin-bottom: 57px;
  }

  .team__img img{
    width: 288px;
    height: 236px;
  }

  .team-employee{
    width: 288px;
  }

  .team-employee__profession{
    width: 288px;
  }

  .partners{
    height: 250px;
  }

  .partners-container{
    width: 288px;
    height: 250px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .works-subtitle{
    margin-top: 0;
  }

  .works-img img{
    width: 320px;
  }

  .comments-container{
    height: 369px;
    flex-direction: column;
  }

  .comments__left-btn{
    display: none;
  }

  .comments__right-btn{
    display: none;
  }

  .comments-text{
    width: 288px;
    height: 92px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
  }

  .comments-author{
    font-size: 18px;
  }

  .clients{
    height: 1509px;
  }

  .clients-review{
    width: 288px;
    height: 303px;
    flex-direction: column;
    margin-top: 29px;
  }

  .clients-review:nth-child(odd){
    margin-right: 0;
  }

  .clients-review img{
    margin-bottom: 0;
  }

  .clients-text__conatiner{
    text-align: center;
    margin-left: 0;
  }

  .clients__review-line{
    margin: 0 auto;
  }

  .stories__card-container{
    flex-direction: column;
    margin-bottom: 0;
  }

  .stories__img-container img{
    width: 288px;
  }

  .stories__img-date{
    transform: translate(-1px, -110px);
  }

  .stories-text{
    width: 288px;
  }

  .map{
    height: 231px;
  }

  .map-container{
    height: 231px;
  }

  .last-container{
    flex-direction: column;
  }

  .mogo-container{
    text-align: center;
  }

  .mogo-title{
    text-align: center;
  }

  .mogo-text{
    text-align: center;
    width: 288px;
  }

  .mogo-form{
    width: 287px;
    flex-direction: column;
    align-items: center;
  }

  .mogo__social-media{
    width: 288px;
  }

  .mogo-inp{
    width: 282px;
    margin-bottom: 24px;
  }

  .mogo-btn{
    width: 287px;
  }

  .blogs-title{
    text-align: center;
  }

  .blogs-img img{
    width: 83px;
    height: 71px;
  }

  .blogs__text-container{
    margin-left: 14px;
  }

  .blogs-text{
    width: 192px;
    margin-bottom: 0;
  }

  .inst-title{
    text-align: center;
  }

  .inst-col{
    text-align: center;
  }

  .inst-footer{
    text-align: center;
    margin-top: 20px;
  }

  .footer{
    height: 45px;
  }

  .footer-text{
    text-align: center;
  }

}