body {
  margin: 0;
  scroll-behavior: smooth;
}

.background {
  background: linear-gradient(
      rgba(233, 130, 131, 0.9),
      rgba(237, 215, 137, 0.9)
    ),
    url(/css/background.png);
  background-size: cover;
}

header {
  height: 100px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.icon {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline;
  width: 114px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 16.44px;
  text-align: center;
  margin-left: 35px;
}

.nav-item:hover {
  color: #f4bf87;
  border-bottom: 1px solid #f4bf87;
  cursor: pointer;
}

.banner-subtitle {
  height: 80px;
  color: #ffffff;
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 92.86px;
}

.banner-title {
  height: 370px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 144px;
  line-height: 175.54px;
  margin-top: 0;
  margin-bottom: 44px;
}

.banner-line__container {
  display: flex;
  justify-content: center;
}

.banner-line {
  width: 170px;
  border: 2px solid #ffffff;
}

.banner-btn__container {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.banner-btn {
  width: 370px;
  height: 80px;
  background: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 28.18px;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.banner-btn:hover {
  border-color: #e4be8d;
  color: #e4be8d;
}

.banner-menu {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.banner-menu__numbers {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42.26px;
  color: #f9efcf;
}

.banner-menu__item {
  display: inline;
  width: 270px;
  height: 85px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #f9efcf;
  margin-right: 30px;
  border-top: 2px solid #f9efcf;
}

.banner-menu__item:last-child {
  margin-right: 0;
}

.about-us__subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.about-us__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.about-us__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us__line {
  width: 170px;
  border: 2px solid #f38281;
}

.about-us__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.about-us__img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 106px;
}

.about-us__square {
  width: 370px;
  height: 338px;
  background-color: #95e1d3;
}

.square__super-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 338px;
  background: linear-gradient(
    rgba(233, 130, 131, 0.9),
    rgba(237, 215, 137, 0.9)
  );
}

.super-team__text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 28.18px;
}

.futures {
  height: 250px;
  background: #95e1d3;
}

.futures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.futures-item {
  width: 234px;
  height: 250px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.futures-num {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 75.14px;
  text-align: center;
  margin-bottom: 0;
}

.futures-text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: white;
  line-height: 28.18px;
  text-align: center;
}

.services-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.services-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.services-table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin-top: 80px;
}

.second-line {
  margin-top: 140px;
  margin-bottom: 91px;
}

.services-table__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 139px;
  margin-left: 30px;
}

.services-table__item img {
  align-self: flex-start;
  margin-right: 30px;
}

.seo-icon {
  margin-left: 0;
}

.services-table__item:first-child {
  margin-left: 0;
}

.services-item__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
}

.services-item__text {
  width: 270px;
  height: 80px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.devices {
  width: 100%;
  height: 870px;
  background: url(/css/device-background.png);
  background-size: cover;
}

.devices-subtitle {
  height: 80px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
  margin: 0;
}

.devices-title {
  height: 81px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
  margin-bottom: 0;
}

.devices-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.devices-line {
  width: 170px;
  border: 2px solid #f38281;
}

.devices-img__container {
  margin-top: 59px;
}

.devices-img__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.devices-img {
  position: absolute;
}

.devices-tablet {
  padding-bottom: 57px;
}

.devices-phone {
  top: 212px;
  left: 770px;
}

.products{
    padding-bottom: 114px;
}

.products-subtitle {
  height: 80px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
  margin: 0;
}

.products-title {
  height: 81px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
  margin: 0;
}

.products-line__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products-line {
  width: 170px;
  border: 2px solid #f38281;
}

.products-text {
  height: 118px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin: 0px 0px 42px 0px;
}

.products-option {
  display: flex;
  justify-content: space-between;
}

.products-cards__container {
  margin-left: 30px;
}

.products-cards {
  width: 570px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #c6cbcd;
  margin-bottom: 22px;
}

.products-cards:last-child {
  margin-bottom: 0;
}

.products-cards:first-child {
  margin-bottom: 0;
}

.products-cards__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
}

.products-cards__text-container {
  border: 2px solid #c6cbcd;
  border-top: 0;
  margin-bottom: 22px;
  overflow-y: scroll;
}

.products-cards__text-container::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.products-cards__text-container::-webkit-scrollbar-thumb {
  color: #95e1d3;
}

.products-cards__text {
  width: 463px;
  margin: 14px 0px 14px 22px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.products-cards__img {
  margin-left: 18px;
}

.products-cards__btn button {
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}

.carousel{
    background-color: #F8F8F8;
}

.carousel-container{
    height: 254px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__left-btn{
    width: 42px;
    height: 42px;
    margin-right: 40px;
}

.carousel__right-btn{
    width: 42px;
    height: 42px;
    margin-left: 40px;
}

.carousel__left-btn button{
    border: 0px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.carousel__right-btn button{
    border: 0px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.carousel__text-container{
    margin-left: 30px;
}

.carousel-text{
    width: 770px;
    height: 96px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 28.18px;
    color: #A9AFB1;
}

.carousel-line{
    width: 70px;
    border: 4px;
    color: #F38281;
}

.carousel-author{
    font-family: "Kaushan Script", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 43.53px;
    color: #000000;
    margin-left: 156px;
}

.carousel-author::before{
  content: "";
  border: 4px solid #F38281;
}

.team-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.team-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.team__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.team-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.team__img-container{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.team-square__container{
  position: relative;
}

.team-square__social-media{
  width: 370px;
  height: 424px;
  background: linear-gradient( rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.social-media__container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 207px;
}

.social-media__container img{
  margin-left: 1px;
}

.team-employee{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700px;
  line-height: 28.18px;
  text-align: center;
}

.team-employee__profession{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21.13px;
  text-align: center;
}

.partners{
  height: 211px;
  background-color: #F8F8F8;
  margin-top: 84px;
}

.partners-container{
  display: flex;
  justify-content: space-around;
}

.partners-img{
  width: 127.12px;
  height: 127.12px;
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.works-subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  line-height: 43.53px;
  text-align: center;
  padding-top: 42px;
}

.works-title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.26px;
  text-align: center;
}

.works__line-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works-line {
  width: 170px;
  border: 2px solid #f38281;
  margin-top: 24px;
}

.works-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-top: 40px;
}

.works__img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 84px;
}

.carousel-container{
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__left-btn{
  width: 42px;
  height: 42px;
  margin-right: 40px;
}

.carousel__right-btn{
  width: 42px;
  height: 42px;
  margin-left: 40px;
}

.carousel__left-btn button{
  border: 0px;
  background-color: #F8F8F8;
  cursor: pointer;
}

.carousel__right-btn button{
  border: 0px;
  background-color: #F8F8F8;
  cursor: pointer;
}

.carousel__text-container{
  margin-left: 30px;
}

.carousel-text{
  width: 770px;
  height: 96px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 28.18px;
  color: #A9AFB1;
}

.carousel-line{
  width: 70px;
  border: 4px;
  color: #F38281;
}

.carousel-author{
  font-family: "Kaushan Script", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.53px;
  color: #000000;
  margin-left: 156px;
}

.carousel-author::before{
content: "";
border: 4px solid #F38281;
}